@import "foundation/index";

.dse-calendar {
    width: max-content;
    text-align: center;
    border: 1px solid $form-border-color;
    border-radius: map-get($border-radius, 'base');
    padding: map-get($spacing, 'xxs');

    button {
        cursor: pointer;
        border: none;
    }

    &__month-change {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;

        button {
            background-color: $form-bg-color;
        }
    }

    &__week-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__week-day {
        padding: map-get($spacing, 'xxxs')
    }

    &__month-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__month-day {
        padding: map-get($spacing, 'xxs');
        position: relative;
        background-color: $form-bg-color;

        &--not-this-month {
            background-color: $form-border-color;
        }

        &--hovered,
        &:hover {
            background-color: $btn-primary-bg-hover;
        }

        &--today::before {
            content: '';
            position: absolute;
            width: 70%;
            height: 2px;
            left: 15%;
            bottom: 3px;
            background-color: $btn-primary-bg;
        }

        &--selected {
            background-color: $btn-primary-bg;
            color: $btn-primary-color;

            &.dse-calendar__month-day--today::before {
                background-color: $btn-primary-color;
            }

        }


    }
}