@import "foundation/index";

.dse-select {
    display: flex;
    flex-direction: column;
    position: relative;

    &:focus-within {
        box-shadow: map-get($shadows, 'base');
    }


    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include padding('xs');
        border: 1px solid $form-border-color;
        background-color: $form-bg-color;
        font-family: $body-font-family;
        cursor: pointer;
        border-radius: map-get($border-radius, "base");
        font-size: $body-font-size;

    }

    &__overlay {
        top: calc(100% + 10px);
        border-radius: map-get($border-radius, "base");
        position: absolute;
        @include padding('none');
        @include margin('none');
        border: 1px solid $form-border-color;
        background-color: $form-bg-color;
        z-index: 99;
        width: 100%;
        box-shadow: map-get($shadows, 'base');
        list-style-type: none;
        display: none;

        &--open {
            display: block;
        }
    }

    &__option {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        @include padding('xs');
        background-color: $form-bg-color;
        border: none;
        box-sizing: border-box;




        &--highlighted {
            background-color: $form-bg-color-hover;
        }

        &--selected {
            background-color: $form-bg-option-selected;
            color: $form-color-option-selected;
        }
    }

    &__caret {
        transition: all 250ms ease;

        &--open {
            transform: rotate(180deg);
        }

        &--closed {
            transform: rotate(0deg);
        }
    }


}